<div class="bar bar-header bar-blue">
	<button class="button button-icon" ng-click="toggleProjects()">
		<i class="icon ion-navicon"></i>
	</button>
     <h1 class="titleHeader">About</h1>
     <!-- <button class="button button-icon" ng-click="gotoHome()">
		<i class="icon ion-navicon"></i>
	</button>-->
</div>   
<ion-view>
	<ion-content class="padding page-overflow has-header" scroll = "true">
	<div class = "about-page-container">
        <div class="about-header aboutAppPadding1">
        	<p>Accenture Center for IBM <br/> Technologies</p>	
        </div>
        <div class = "about-header2 aboutAppPadding2">
        <p>Smarter Selling.Smarter Delivery</p>
         </div>
         <div class = "about-header2 aboutAppPadding6">
        <a class = "about-header4" href ng-click="newAppContent()">What's New in this Latest Version 2.1.1</a>
        </div>
        <div class = "about-header3 aboutAppPadding3" >
        	<a class = "about-header4" href ng-click="storyContent()">The ACIT App Journey</a>
        </div>
        <div class = "about-header2 aboutAppPadding2">
        	<p>How we got started</p>
        </div>
        <div class = "aboutAppPadding4 text-center mble-view">
        <p><img ng-src="images/About_Diagram.png" style="height:275px; width:93%;"/></p>
        </div>
        <div class = "aboutAppPadding4 text-center tblt-view">
        <p><img  ng-src="images/About_Diagram_ipad.png"/></p>
        </div>
        <!-- <div class = "about-header3 aboutAppPadding5">
        <a href ng-click="keyContent()" class = "about-header4">Key Features of APP</p>
        </div>-->
        
     </div>
            <!-- <br class="clr" />-->
    </ion-content>
</ion-view>