<ion-modal-view class="outer-modal-style">
<div class="bar bar-header bar-white" align-title="left">
     <div class="row">
            <!-- <div class="col col-75"><p class="modalTitle">Story Behind App</p></div><div class = "col col-25 text-right"><a href ng-click="modal1.hide()" class="ion-close-circled col col-20 col-offset-80 overlay-close"></a></div></div>-->
            
            
            <div class="col col-75 mble-view"><p class="modalTitle">The ACIT App Journey</p></div><div class = "col col-25 text-right mble-view"><img ng-src={{"./images/mobile_close.png"}} ng-click="modal1.hide()" /></div></div>
            <div class="col col-75 tblt-view"><p class="modalTitle">The ACIT App Journey</p></div><div class = "col col-25 text-right tblt-view"><img ng-src={{"./images/ipad_close.png"}} ng-click="modal1.hide()" /></div></div>
            </div>
</div>
    <ion-content class="inner-modal-style" style="height: {{overlayHeight}};  z-index: -1;">
        <div class="page-container">
        
            <!-- <div class="row">
                <div class="col col-75"><p class="modalTiitle">Story Behind App</p></div><div class = "col col-25"><a href ng-click="modal1.hide()" class="ion-close-circled col col-20 col-offset-80 overlay-close"></a></div>
            </div>-->
            
            <div class="modal-heading modal-headpadding">
                    <p>Objective</p>
             </div>
             <div class="listStory">
             <div class="modal-fonts">
                    <ul>
                    	<li>Enable easy access to information and features for ACIT team members</li>
                    	<li>Create a more personalized interaction with ACIT for users across Accenture</li>
                    	<li>Leverage and showcase key features of IBM MobileFirst platform</li>
                    </ul>
             </div>
             </div>
              <div class="modal-heading modal-headpadding2">
                    <p>Journey</p>
             </div>
              <div class="listStory">
             <div class="modal-fonts">
                    <ul>
                    	<li>ACIT dev team started with no mobile development experience, and were able to upskill and pick up the required technology and leverage IBM MobileFirst platform, to design and develop this application.</li>
                    	<li>Core development team and leads based in ACIT India center, including IDC UI/UX SME's; Guidance and inputs from ACIT Oslo; Key stakeholders in ACIT North America.</li>
                    	<li>Collaboration across ACIT centers, developing this application in an agile manner, with features developed and enhanced across multiple sprints and releases.</li>
                    	<li>Hybrid application - Mobile web and native; Hybrid cloud: with components across public cloud (IBM Bluemix PaaS), private cloud (IBM Softlayer IaaS dedicated for ACIT), private on-premise (leveraging backend services within Accenture enterprise)</li>
                    </ul>
                    </div>
             </div>
        </div>
    </ion-content>
</ion-modal-view>