<ion-header-bar align-title="left" class="bar-blue">
            <button class="button button-icon" ng-click="toggleProjects()">
                <i class="icon ion-navicon"></i>
            </button>
           <h1 class="titleHeader">News</h1> 
 </ion-header-bar>
 
  <ion-tabs class="tabs-striped tabs-top tabs-background-cementGrey tabs-skyBlue">
		       <ion-tab title="IBM News">
        	
          <ion-nav-view name="about-tab">
          <ion-view>
          <ion-content class="page-overflow">
          <div class="list-container">
		<div class="list">
            <a class="item"  ng-repeat="newsfeed in IBMnewsfeeds" href="#/acit/newsfeedlist/{{newsfeed.id}},{{'IBM NewsFeed'}}">
                <h3 class="head3 row">{{newsfeed.title}}</h3>
                <p16 class="row">{{newsfeed.date | date :'mediumDate'}}, {{newsfeed.date | date : 'shortTime'}}</p16>
            </a>
        </div>  
        <div ng-show = "errorMsg != ''" class="text-center errorExp">
 			<div><img ng-src={{"./images/error.png"}} class="errorImg" /></div>
      		<div>{{errorMsg}}</div>
      	</div>
      </div>
    </ion-content>
    </ion-view>
          </ion-nav-view>
        </ion-tab>
        
        <ion-tab title="Accenture News">
          <ion-nav-view name="home-tab">
          <ion-view>
          <ion-content class="page-overflow">
          <div class="list-container">
    	 <div class= "iconDiv" ng-show="iconLoad">
			<i class="icon ion-loading-c"></i>
		</div>
		<div class="list">
            <a class="item"  ng-repeat="newsfeed in newsfeeds" href="#/acit/newsfeedlist/{{newsfeed.id}},{{'Accenture NewsFeed'}}">
                <h3 class="head3 row">{{newsfeed.title}}</h3>
                <p16 class="row">{{newsfeed.date | date :'mediumDate'}}, {{newsfeed.date | date : 'shortTime'}}</p16>
            </a>
        </div> 
       <div ng-show = "errorMsg != ''" class="text-center errorExp">
 			<div><img ng-src={{"./images/error.png"}} class="errorImg" /></div>
      		<div>{{errorMsg}}</div>
      	</div>
      </div>	
    </ion-content>
    </ion-view>
    </ion-nav-view>
        </ion-tab>
 
      </ion-tabs>


  