<div class="bar bar-header bar-calm">
    <button class='button button-clear ion-arrow-left-c' ng-click="goBack()"></button>
  <h1 class="titleHeader">ACIT Product-assets</h1>
	 		<div ng-controller="loginCtrl">
            	<h2 class="titleHeader"></h2>
            	<button class='button button-clear ion-log-out' ng-click="logout()"></button>
            </div>
</div>
<view title="'ACIT Products'">
	
    <content has-header="true" has-subheader="false">
    	<div><br><br></div>
        <div class="list">
            <a class="item" ng-repeat="product in products" href="#/acit/products/{{product.Product_ID}}/assets">
                <h3>{{product.Product_Name}}</h3>
             <!--<p>{{product.Description}}</p>-->
            </a>
            
        </div>
    	<div ng-show = "errorMsg != ''" class="text-center errorExp">
 			<div><img ng-src={{"./images/error.png"}} class="errorImg" /></div>
      		<div>{{errorMsg}}</div>
      	</div>
    </content>

</view>